.contact-form {
  text-align: center;
  margin: 20px auto 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  border: 5px #CF3E03 double;
  background: #c5c5c5;
  width: 40%;
  font-family: "Book Antiqua", sans-serif;
  color: #4B0000;
  font-style: italic;
}

.label-column {
  width: 60%;
  text-align: left;
  font-family: "Book Antiqua", sans-serif;
  color: #4B0000;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  margin: 15px auto 0;
}

.input-column {
  width: 60%;
  text-align: center;
  font-family: "Book Antiqua", sans-serif;
  color: #4B0000;
  font-style: italic;
  font-size: 16px;
}

.input-single-line {
  margin: 2px auto 15px;
}

.submit-form {
  grid-column-start: 2;
  grid-row-start: 5;
  font-family: "Book Antiqua", sans-serif;
  background: #6A0000;
  padding: 5px 40px;
  font-style: italic;
  border-radius: 5px;
  color: #d5d5d5;
  transition: 1s;
}

.submit-form:hover {
  transition: 1s;
  background-color: #9A0000;
  cursor: pointer;
}
