<div id="navigation" class="navigate">
  <div id="path" class="web-path mouse-over-default">
    <a class="link" routerLink="/"><span style="color: #cf3e03; font-weight: bold; font-size: 20px">H</span>ome</a>
    &#187; <span style="color: #CF3E03; font-weight: bold; font-size: 20px;">C</span>ontact
  </div>
</div>
<form id="contact" class="contact-form" #emailForm="ngForm" (ngSubmit)="onClickSubmit(emailForm.value)"
      autocomplete="off">
  <label for="sender" class="label-column">Name/email: </label>
  <input id="sender" class="contact input input-column" ngModel name="from" placeholder="Your email/name"/>
  <br><label for="subject" class="label-column">Subject: </label>
  <input id="subject" class="contact input input-column" ngModel name="subject" placeholder="Subject"/>
  <br><label for="message" class="label-column">Message: </label>
  <textarea id="message" class="contact input input-column message" ngModel name="message" placeholder="Message" (keydown)="resize()"></textarea>
  <br><div class="label-column"></div><br/><input type="submit" value="Send" class="submit-form" [disabled]="emailForm.invalid">
</form>
