.author_list {
  transition: 1s;
  font-size: 12px;
  font-style: italic;
  color: #591215;
}

.author_list:nth-child(even) {
  background-color: hsl(15, 10%, 62%);
}

.author_list:nth-child(odd) {
  background-color: hsl(23, 10%, 65%);
}

.author_list:hover {
  cursor: pointer;
  background-color: #928080;
  color: #3c1100;
  transition: 1s;
}

.authors {
  border: solid 1px #3c1100;
  text-align: center;
  width: 90%;
  margin: 10px auto 20px;
  background-color: #5B0000;
  cursor: default;
  font-size: 25px;
  font-style: italic;
  color: #c5c5c5;
}

td{
  font-size: 19px;
}

.addition {
  text-align: right;
}

.filter {
  margin: auto;
  font-style: italic;
  color: #7B0000;
  width: 70%;
  text-align: left;
  display: inline-block;
}
