.author_list {
  transition: 1s;
  font-size: 12px;
  font-style: italic;
  color: #591215;
}

.author_list:nth-child(even) {
  background-color: hsl(15, 10%, 62%);
}

.author_list:nth-child(odd) {
  background-color: hsl(23, 10%, 65%);
}

.author_list:hover {
  cursor: pointer;
  background-color: #928080;
  color: #3c1100;
  transition: 1s;
}

.authors {
  border: solid 1px #3c1100;
  text-align: center;
  width: 90%;
  margin: 10px auto 20px;
  background-color: #5B0000;
  cursor: default;
  font-size: 25px;
  font-style: italic;
  color: #c5c5c5;
}

td{
  font-size: 19px;
}

.add-author {
  display: inline-block;
  background: #6A0000;
  padding: 5px;
  text-decoration: none;
  font-style: italic;
  border-radius: 5px;
  color: #c5c5c5;
  transition: 1s;
}

.add-author:hover {
  transition: 1s;
  background-color: #8A0000;
  cursor: pointer;
}

.addition {
  text-align: right;
}

.filter {
  margin: auto;
  font-style: italic;
  color: #7B0000;
  width: 70%;
  text-align: left;
  display: inline-block;
}

.filter-input {
  width: 50%;
  background-color: #A89994;
  font-family: "Book Antiqua", sans-serif;
  font-style: italic;
  color: #4B0000;
  border: #380000 1px solid;
}

.filter-input:focus {
  background-color: #AFA49D;
}

.create-author {
  display: inline-block;
  text-align: right;
  width: 20%;
}

.table-block {
  width: 60%;
  background: #c5c5c5;
  border: #cf3e03 double 5px;
  border-radius: 5px;
  padding: 30px 0;
  margin: 20px auto 80px;
}
