.author_list {
  transition: 1s;
  font-size: 19px;
  font-style: italic;
  color: #5c3112;
}

.author_list:nth-child(even) {
  background-color: #8c6142;
}

.author_list:nth-child(odd) {
  background-color: #bc9172;
}

.author_list:hover {
  cursor: pointer;
  background-color: #ecc1a2;
  color: #3c1100;
  transition: 1s;
}

thead {
  background-color: #8c6142;
  cursor: default;
  font-size: 19px;
  font-style: italic;
  color: #5c3112;
}

.authors {
  border: solid 1px #3c1100;
  text-align: center;
  width: 60%;
  margin: 5px auto 20px;
}

td{
  font-size: 19px;
}

.add-author {
  background: #5c3112;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  text-decoration: none;
  font-style: italic;
  border-radius: 5px;
  color: #ac8162;
  transition: 1s;
}

.add-author:hover {
  transition: 1s;
  background-color: #7c5132;
  color: #dcb192;
  cursor: pointer;
}

.buttons {
  text-align: center;
}

