.author-form {
  margin: 30px auto 50px;
  text-align: center;
  font-style: italic;
  display: block;
  font-size: 19px;
  font-family: "Bookman Old Style", sans-serif;
  color: #4B0000;
  background: #c5c5c5;
  border-radius: 5px;
  border: #CF3E03 double 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 50%;
}

.author-input {
  font-family: "Book Antiqua", sans-serif;
  font-style: italic;
  margin: 5px 5px;
  background-color: #A89994;
  border: solid 1px #380000;
  color: #4B0000;
}

.author-input:focus{
  border: solid 1px #380000;
  border-radius: 5px;
  background-color: #AFA49D;
  color: #4B0000;
}

.author-description {
  width: 60%;
}

.author-description:focus {
  border: solid 1px #4B0000;
  background-color: #AFA49D;
  color: #4B0000;
}
