.author-form {
  margin: 30px auto 50px;
  text-align: center;
  font-style: italic;
  display: block;
  font-size: 19px;
  font-family: "Bookman Old Style", sans-serif;
  color: #4B0000;
  background: #c5c5c5;
  border-radius: 5px;
  border: #CF3E03 double 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 50%;
}

.author-input {
  font-family: "Book Antiqua", sans-serif;
  font-style: italic;
  margin: 5px 5px;
  background-color: #A89994;
  border: solid 1px #380000;
  color: #4B0000;
}

.author-input:focus{
  border: solid 1px #380000;
  border-radius: 5px;
  background-color: #AFA49D;
  color: #4B0000;
}

.author-save {
  padding: 5px;
  font-style: italic;
  font-size: 19px;
  font-family: "Book Antiqua", sans-serif;
  background-color: #5A0000;
  border-radius: 5px;
  border: none;
  color: #c5c5c5;
  transition: 1s;
}

.author-save:hover {
  transition: 1s;
  color: #c5c5c5;
  background-color: #7A0000;
}

.author-error {
  color: #bb1111;
  font-size: 14px;
  text-decoration: none;
  font-style: normal;
}

.author-tooltip {
  position: relative;
  display: inline-block;
}

.author-tooltip .author-tooltip-text {
  visibility: hidden;
  width: 240px;
  background-color: #383538;
  color: #c5c5c5;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: -5px;
  left: 102%;
  font-size: 12px;
  opacity: 0.85;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.author-tooltip-text {
  border: #CF3E03 1px solid;
}

.author-tooltip .author-tooltip-text::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #CF3E03 transparent transparent;
}

.author-tooltip:focus-within .author-tooltip-text {
  visibility: visible;
}

.cross-tick {
  width: 11px;
  height: 11px;
}

.author-description {
  width: 60%;
}

.author-description:focus {
  border: solid 1px #4B0000;
  background-color: #AFA49D;
  color: #4B0000;
}
