.nav-bar {
  text-align: center;
}

.nav-link {
  font-family: "Book Antiqua", sans-serif;
  font-style: italic;
  font-size: 25px;
  display: inline-flex;
  background-color: #5B0000;
  text-decoration: none;
  color: #c5c5c5;
  margin: 5px;
  padding: 5px;
  transition: 1s;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #8c0000;
  transition: 1s;
}
