.name {
  padding-top: 30px;
  color: #3c1100;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 30px;
}

.details {
  color: #1c0100;
  font-size: 20px;
  padding-bottom: 50px;
}
@media (min-width: 600px) {
  .books_list {
    width: 50%;
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 600px) {
  .books_list {
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.books_list:hover {
  cursor: default;
}

.book {
  font-weight: normal;
  list-style-type: none;
  font-size: 25px;
  transition: 1s;
}

.book:hover {
  cursor: pointer;
  color: #dcb192;
  background: #3c1100;
  transition: 1s;
}
