<div id="navigation" class="navigate">
  <div id="path" class="web-path mouse-over-default">
    <a class="link" routerLink="/"><span style="color: #cf3e03; font-weight: bold; font-size: 20px">H</span>ome</a> &#187;
    <a class="link" (click)="redirect()"><span style="color: #CF3E03; font-weight: bold; font-size: 20px;">B</span>ooks</a> &#187;
    <span id="book_path"></span>
  </div>
</div>
<div>
  <p>{{book.title}}</p>
  <p>{{book.isbn}}</p>
  <p>{{book.count}}</p>
  <p>{{book.genre}}</p>
  <p *ngFor="let author of book.authors" (click)="redirectToAuthor(author.idx)">{{author.firstName}} {{author.lastName}}</p>
</div>
