/* You can add global styles to this file, and also import other style files */
body {
  /*background-color: #a9a9a9;*/
  background-color: #383538;
  text-align: center;
  min-width: 500px;
  overflow-x: hidden;
}

.title {
  width: 100%;
  background-color: #d2d2d2;
  text-align: center;
  height: 10%;
}

h1, h3 {
  font-size: 99px;
  font-family: Impact, Charcoal, sans-serif;
  color: #380000;
  margin-top: 50px;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  font-size: 20px;
  color: #440000;
  margin-bottom: 20px;
}

.author {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Book Antiqua", sans-serif;
  color: #4B0000;
  text-align: center;
  cursor: default;
}

.return {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #380000;
  font-style: italic;
  font-family: "Book Antiqua", sans-serif;
}

.return:hover {
  cursor: pointer;
}

.web-path {
  margin: 80px auto 5px;
  font-family: "Book Antiqua", sans-serif;
  font-size: 17px;
  color: #c5c5c5;
  font-style: italic;
  text-align: left;
  width: 60%;
}

.link {
  color: #c5c5c5;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

.mouse-over-default:hover {
  cursor: default;
}

.input {
  font-family: "Book Antiqua", sans-serif;
  font-style: italic;
  margin: 5px 5px;
  background-color: #AFA49D;
  border: solid 1px #380000;
  border-radius: 5px;
  color: #4B0000;
}

.input:focus{
  border: solid 1px #380000;
  border-radius: 5px;
  background-color: #BFB4AD;
  color: #4B0000;
}

.message {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Book Antiqua", sans-serif;
  color: #4B0000;
  overflow-wrap: break-word;
  resize: vertical;
}
